# Frontend
VITE_RAZORPAY_KEY_ID=rzp_test_SZLA0DsMVs57OG
VITE_BACKEND_URL=http://localhost:5000

# Backend
RAZORPAY_KEY_ID=rzp_test_SZLA0DsMVs57OG
RAZORPAY_KEY_SECRET=cCNj8Qs37mf6wxvPgjx54tGt
BACKEND_PORT=5000
# Comma-separated list supported
FRONTEND_ORIGIN=http://localhost:5001,http://localhost:5173

# Note:
# If VITE_RAZORPAY_KEY_ID is not set, frontend will fetch keyId from backend /api/payment/config.
